extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let Icecreamid = toShow._id 
    - let brand = toShow.brand 
    - let flavour = toShow.flavour 
    - let cost = toShow.cost 
    - let actionid = "/resource/Icecream/" + Icecreamid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='IcecreamAttr mr-3') Icecream ID is: 
        div #{Icecreamid} 
      div.row 
        div(class='IcecreamAttr mr-3') Icecream brand is: 
        div #{brand} 
      div.row 
        div(class='IcecreamAttr mr-3') Icecream flavour is: 
        div #{flavour} 
      div.row 
        div(class='IcecreamAttr mr-3') Icecream cost is: 
        div #{cost} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the Icecream collection 
      window.location.href='/Icecream' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Don't need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/Icecream' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    }