extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to show 
  else 
    - let Icecreamid = toShow._id 
    - let brand = toShow.brand 
    - let flavour = toShow.flavour 
    - let cost = toShow.cost 
    div 
      div.row 
        div(class='IcecreamAttr mr-3') Icecream ID is: 
        div #{Icecreamid} 
      div.row 
        div(class='IcecreamAttr mr-3') Icecream brand is: 
        div #{brand} 
      div.row 
        div(class='IcecreamAttr mr-3') Icecream cost is: 
        div #{cost} 
      div.row 
        div(class='IcecreamAttr mr-3') Icecream flavour is: 
        div #{flavour}